.sprite {
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite-alcalde-de-chilca {
    width: 243px;
    height: 270px;
    background-position: -5px -5px;
}

.sprite-alejandra-aramayo {
    width: 312px;
    height: 165px;
    background-position: -258px -5px;
}

.sprite-anuncio {
    width: 310px;
    height: 86px;
    background-position: -580px -5px;
}

.sprite-bayern {
    width: 979px;
    height: 554px;
    background-position: -5px -285px;
    background-size: 90%;
}

.sprite-corea-del-norte- {
    width: 312px;
    height: 165px;
    background-position: -580px -101px;
}

.sprite-logo {
    width: 281px;
    height: 49px;
    background-position: 60px 5px;
}

.sprite-odebrecht {
    width: 425px;
    height: 250px;
    background-position: -902px -5px;
}

.sprite-senora {
    width: 53px;
    height: 84px;
    background-position: -1337px -5px;
}
